# API
server/PollingSystem.API/.vs
server/PollingSystem.API/[Bb]in/
server/PollingSystem.API/[Oo]bj/
*.user
server/PollingSystem.API/appsettings.json

# Client
client/polling-client/node_modules
client/polling-client/dist
client/polling-client/.angular/cache/*
*.log

.vscode